@media (max-width: 800px) {

    .swapKeep button {
        width: 40% !important;
    }


    .typing-demo {
        width: 70%;
    }
}

@media (max-width: 500px) {

    .typing-demo {
        width: 85%;
    }

    .descPara,
    .howtoplay li {
        font-size: 1em !important;
    }

    .nameInput {
        font-size: 1.1em !important;
    }

    #player1Box,
    #player2Box {
        width: auto;
        height: 100px;
    }


}

/* Responsive Behavior */