@media (max-width: 800px) {

    .typing-demo {
        width: 70%;
    }
}

@media (max-width: 500px) {

    .typing-demo {
        width: 85%;
    }

    .descPara,
    .howtoplay li {
        font-size: 1em !important;
    }
    
    .nameInput {
        font-size: 1em;
    }
}

/* Responsive Behavior */