@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

.raise {
    opacity: 80%;
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 20px;
    background-color: #8A2BE2;
}

.howtoplay li {
    margin: 5px;
    font-size: 1.5em;
}


/* Neo Text  */
.neotext {
    position: relative;
    padding: 5px;
    font-weight: 100;
    font-size: 20px;
    font-weight: bold;
}

/* Game Arena */
.gameArena {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

/* Name Buttons */
.carrotBoxes,
.playerNames {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.nameInput {
    margin: 10px;
    width: 40%;
    text-align: center;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #F1DDCF;
    transition: border-bottom 0.3s ease;
}

.nameInput:focus {
    border-bottom: 10px solid #F1DDCF;
}

.activename {
    border-bottom: 10px solid #F1DDCF;
}